
generate_pattern
	if_samplelogname_matches	.*
	patternname			%{samplelogname}

	replace	\d{2,}			\d{2,}
	replace	(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\x20[\s\d]\d\x20[\s\d]\d:\d{2}:\d{2}\x20[-\w]{2,24}	(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\x20[\s\d]\d\x20[\s\d]\d:\d{2}:\d{2}\x20[-\w]{2,24}
	# for nullmailer
	replace queued.as.[0-9A-F]{11}	queued.as.[0-9A-F]{11}
